
.container-to-content-container{
    background-color: red;
 
    .video-container {
        width: 30rem; 
        height: 30rem; 
        position: relative;
    }


    #content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;

        &img{
            width: 10rem;
            height:10rem;
            object-fit: contain;
        }
    }
}
