.content-whole-page{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 100vh;

    .get-content-container{
        width: 40%;
        border-right: 1px solid rgb(179, 179, 179);

        .btn-container{
            display:flex;
            justify-content:center;
            padding-top: 3.5rem;
            align-items:center;
            height: 12rem;

            #addContentBtn{
                display:flex;
                justify-content:center;
                width: 5rem;
                height:2.5rem;
                margin-bottom: 4rem;
                background-color: rgb(99, 153, 99);
                align-items: center;
                border-radius: 3%;
                color: white;
                cursor:pointer;
            }
            #plusIcon{
                padding-left:0.3rem;
                padding-bottom: 0.2rem;
                color: white;
            }
        }

            .saved-content{
                display:flex;
                flex-direction:column;
                justify-content:center;
                text-align: center;
                width: 100%;
                border-top: 1px solid rgb(179, 179, 179);

                #titleForContent{
                    border-bottom: 1px solid rgb(179, 179, 179);
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    font-size: 1.2rem;
                    color: rgb(214, 214, 203);
                    background-color: rgb(139, 137, 132);
                }

                #contentListUL{
                    width: 100%;
                    display:flex;
                    flex-direction: column;
                    text-align: left;

                    #contentListLI{
                        display:flex;
                        flex-direction:row;
                        justify-content: space-around;
                        align-items:center;
                        text-align:center;
                        padding:0.5rem;
                        border-bottom: 1px solid rgb(179, 179, 179);
                        cursor:pointer;

                        #folderIcon{
                            color: rgb(99, 153, 99);
                        }

                        .fa-folder:before {
                            font-size: 1.8rem;
                        }

                        .list-image-name{
                            display:flex;
                            flex-direction:row;
                            align-items:center;
                            justify-content: space-between;
                            width: 8rem;

                            #urlVideo,
                            #urlImg{
                                width: 5rem;
                                height: 5rem;
                                padding:0.2rem;
                                object-fit: contain;
                                object-position: center;
                                border: 1px solid rgb(83, 83, 83);
                            }

                            #contentTypeName{
                                padding-left:1rem;
                                padding-top:0.6rem
                            }
                        }

                        #nameContent{
                            width: 20rem;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;          
                        }

                        .fa-edit:before{
                            color:  rgb(99, 153, 99);
                            font-size:1.2rem;
                            cursor:pointer;
                        }

                        .fa-trash:before {
                            color: rgb(47, 47, 92);
                            font-size:1.2rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .show-content-container{
        display:flex;
        flex-direction: column;
        width:60%;

        .handle-content-panel{
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            align-items:center;
            padding: 2rem;
            width:100%;
            height: 4rem;

            #saveContent{
                width: 5rem;
                height:2.5rem;
                border:none;
                background-color: rgb(99, 153, 99);
                align-items: center;
                border-radius: 3%;
                color: white;
                cursor:pointer;
                font-size:1.05rem;
            }

            #saveContent[disabled]{
                background-color: rgb(182, 174, 174);
            }

            .input-validator{
                display:flex;
                flex-direction:column;
                padding-top:2rem;

                #nameContentInput{
                    height: 1.8rem;
                    width: 20rem;
                }
    
                #errorMessage{
                    color:rgb(182, 0, 0);
                    font-size: 0.8rem;
                }
            }

            #deleteContent{
                width: 5rem;
                height:2.5rem;
                border:none;
                background-color: rgb(47, 47, 92);
                align-items: center;
                border-radius: 3%;
                color: white;
                cursor:pointer;
                font-size:1.05rem;
            }

            #deleteContent[disabled]{
                background-color: grey;
            }
        }

        #content{
            display:flex;
            justify-content: center;
            align-items:center;
            margin:auto;
            margin-top:2rem;
            overflow:hidden;

            #imageContent,
            #videoContent{
                width:35rem;
                height: 32rem;
                object-fit: contain;
                object-position: center;
            }

            #invalidContent{
              font-size: 1rem;
            }

            #noContent{
              display:none;
              width: 20rem;
              height:20rem;
            }
        }
    }

