<section class="content-whole-page">
    <section class="get-content-container">
            <div class="btn-container">
                <a id="addContentBtn" (click)="addFileHandler()">
                    Add
                    <i id="plusIcon" class="fas fa-plus"></i>
                </a>
                <input type="file" #fileInput id="fileInput" (change)="redirectFileHandler($event)" accept="image/*, video/*"  hidden>
            </div>
            <div class="saved-content">
                <p id="titleForContent"> Saved content</p>
                <ul id="contentListUL">
                    <li id="contentListLI" *ngFor="let content of savedContent" (click)="showContentFile()">
                        <i id="folderIcon" class="fas fa-folder"></i>
                        <div class="list-image-name" [ngSwitch]="contentType">
                          <img 
                          id="urlImg" 
                          [src]="content.url"
                          *ngSwitchCase = "'image'"  
                          title="{{content.url}}"/>
                          {{ content.type }}
                          <video 
                          id="urlVideo" 
                          [src]="content.url" 
                          *ngSwitchCase = "'video'" 
                          title="{{content.url}}">
                      </video>
                        </div>
                        <span id="nameContent" title="{{content.listContentName}}"> {{ 'Folder Name: ' + content.listContentName}} </span>
                        <a id="trashIcon" (click)="deleteContentFile(content)"><i class="fa fa-trash"></i></a>
                    </li>
                </ul>
            </div>
    </section>

    <section class="show-content-container">
            <div class="handle-content-panel">
                <button (click)="handleSaveContent()" id="saveContent">Save</button>
                <div class="input-validator" *ngIf="showListContentName">
                  <input id="nameContentInput" type="text" [formControl]="listContentName" placeHolder="Name your content" required valid/>
                  <em id="errorMessage" *ngIf="listContentName.invalid && (listContentName.touched || saveAttempt)">Name on your content is required</em>
                </div>
                <button (click)="handleDeleteContent()" id="deleteContent">Delete</button>
            </div>

            <div [ngSwitch]="contentType" id="content">
              <div *ngIf="showContent">
                <ng-container  *ngSwitchCase = "'image'" >
                  <img id="imageContent" [src]="selectedContent?.url" alt="Selected content img">
                </ng-container>

                <ng-container  *ngSwitchCase = "'video'" >
                  <video id="videoContent" [src]="selectedContent?.url"></video>
                </ng-container>

                <ng-container id="invalidContent" *ngSwitchCase = "'invalid'" >
                  <p> Sorry! The content did not work to upload. </p>
                </ng-container>

                <ng-container id="noContentDefault" *ngSwitchCase = "'noContent'" >
                </ng-container>
              </div>
            </div>
    </section>
</section>

