<section class="content-whole-page">
    <section class="get-content-container">
            <div class="btn-container">
                <a title="Add content" id="addContentBtn" (click)="addFileHandler()">
                    Add
                    <i id="plusIcon" class="fas fa-plus"></i>
                </a>
                <input type="file" #fileInput id="fileInput" (change)="redirectFileHandler($event)" accept="image/*, video/*"  hidden>
            </div>
            <div class="saved-content">
                <p id="titleForContent"> Saved content</p>
                <ul id="contentListUL">
                    <li id="contentListLI" *ngFor="let content of savedContent" (click)="showContentFile()">
                        
                        <div class="list-image-name" [ngSwitch]="contentType">
                          <div *ngSwitchCase = "'image'" >
                            <img 
                            id="urlImg" 
                            [src]="content.url"
                            title="{{content.url}}"/>
                          </div>
                          <div *ngSwitchCase = "'video'" >
                            <video 
                            id="urlVideo" 
                            [src]="content.url"  
                            title="{{content.url}}">
                        </video>
                          </div>
                          <p id="contentTypeName">
                            {{ content.type.toUpperCase() }}
                          </p>         
                        </div>
                        <span id="nameContent" title="{{content.name}}"> {{ 'Name: ' + content.name}} </span>
                        <i id="folderIcon" class="fas fa-folder"></i>
                        <a title="Delete" id="trashIcon" (click)="deleteContentFile(content)"><i class="fa fa-trash"></i></a>
                    </li>
                </ul>
            </div>
    </section>

    <section class="show-content-container">
            <div class="handle-content-panel">
                <button title="Save content" [disabled]="!selectedContent" (click)="handleSaveContent()" id="saveContent">Save</button>

                <button title="Delete content" [disabled]="!selectedContent" (click)="handleDeleteContent()" id="deleteContent">Delete</button>
            </div>

            <div [ngSwitch]="contentType" id="content">
              <div *ngIf="showContent">
                <ng-container  *ngSwitchCase = "'image'" >
                  <img id="imageContent" [src]="selectedContent?.url" alt="Selected content img">
                </ng-container>

                <ng-container  *ngSwitchCase = "'video'" >
                  <video id="videoContent" [src]="selectedContent?.url"></video>
                </ng-container>

                <ng-container id="invalidContent" *ngSwitchCase = "'invalid'" >
                  <p> Sorry! The content did not work to upload. </p>
                </ng-container>

                <ng-container id="noContentDefault" *ngSwitchCase = "'noContent'" >
                </ng-container>
              </div>
            </div>
    </section>
</section>

