<section class="header-component">
    <div class="logo-content">
        <a title="Homepage" routerLink="home">
            <!-- <img [src]="'assets/lorem-logo.jpg'" alt="lorem" id="loremLogo"> -->
             <h1 id="cmsLogo">MyCMS</h1>
        </a>
    </div>
    
    <div class="menu-bar">
        <a routerLink="content" id="contentBar">Content</a>
        <a routerLink="playlist" id="playlistBar">Playlist</a>
        <a routerLink="player-device" id="playerDeviceBar">Player Device</a>
        <a routerLink="login" id="loginBar">Logout</a>
    </div>
</section>