<section>
    <div class="opacity-fade" [ngClass]="{'active': isActive}" (click)="closeModal()">
        <div class="modal-login" (click)="$event.stopPropagation()">
            <h4 id="loginText">Log in to your account</h4>

            <form (ngSubmit)="loginSubmit()">
                <input [formControl]="loginName" required valid id="inputNameLogin" placeholder="Username" type="text">
                <em *ngIf="loginName.invalid && loginName.dirty || loginName.touched" id="loginUserNameError">
                    *Username is required
                </em>
    
                <input [formControl]="loginPassword" required valid id="inputPasswordLogin" type="password" placeholder="Password">
                <em *ngIf="loginPassword.invalid && loginPassword.dirty || loginPassword.touched" id="loginUserNameError">
                    *Password is required
                </em>

                <p> Important! 
                    This is not a real CMS and has fake emails and passwords. Please, do not implement important information about yourself!</p>
    
                <button id="loginBtn" type="submit">Login</button>
            </form>
            
        </div>
    </div>
</section>
