<section>
        <div class="modal-login" *ngIf="showLoginModal">
            <h4 id="loginText">Login to your account</h4>

            <form (ngSubmit)="loginSubmit()" [formGroup]="loginForm">
                <input 
                formControlName="loginEmail" 
                required 
                valid
                submitted
                id="emailLogin" 
                placeholder="Email" 
                type="text"
                name="email"
                />
                <em *ngIf="(loginForm.get('loginEmail')?.touched || loginForm.get('loginEmail')?.dirty) && loginForm.get('loginEmail')?.invalid && loginForm.get('loginEmail')?.value === ''" id="emailError">
                    *Email is required
                </em>
    
                <input 
                formControlName="loginPassword" 
                required
                valid
                submitted
                id="inputPasswordLogin" 
                placeholder="Password"
                type="password"
                name="password"
                autocomplete="current-password"
                />
                <em *ngIf="loginForm.get('loginPassword')?.invalid && (loginForm.get('loginPassword')?.dirty || loginForm.get('loginPassword')?.touched)" id="passwordError">
                    *Password is required, at least 10 characters
                </em>

                <div id="loginValidateSubmit">
                    <a [routerLink]="['/register']" id="registerUser">Register</a>
                    <button id="loginBtn" type="submit">Login</button>
                    <em *ngIf="submitted && !loginForm.valid" id="invalidFormMessage"> Please fill out all required fields.</em>
                </div>
            </form>
        </div>
</section>
