section{
        .modal-login{
            display:flex;
            flex-direction: column;
            text-align:center;
            align-items:center;
            margin:auto;
            margin-top: 9rem;
            width: 20rem;
            height: 25rem;
            background-color:white;
            border-radius: 0.5rem;

            #loginText{
                display:flex;
                justify-content:center;
                color: black;
                width:100%;
                font-size: 1rem;
                padding-top: 1.5rem;
                padding-bottom: 0.5rem;
                background-color: rgb(87, 79, 79);
                color: rgb(214, 214, 203);
                border-top-left-radius: 0.4rem;
                border-top-right-radius: 0.4rem;
            }

            #emailLogin{
                height: 2rem;
                width: 16rem;
                padding-left: 0.5rem;
                border-radius: 0.1rem;
                border: none;
                margin-top: 3rem;
                background-color:rgb(226, 226, 226);
            }

            #emailLogin::placeholder{
                padding-left: 0.2rem;
                color:rgb(148, 148, 148);
            }

            #emailError{
                font-size: 0.7rem;
                color:rgb(182, 0, 0);
                margin-right: 9.8rem;
                padding-top:0rem;
                margin-bottom: -1rem;
                display:block;
            }

            #inputPasswordLogin{
                height: 2rem;
                width: 16rem;
                padding-left: 0.5rem;
                border-radius: 0.1rem;
                border: none;
                margin-top: 1.5rem;
                background-color:rgb(226, 226, 226);
            }

            #inputPasswordLogin::placeholder{
                padding-left: 0.2rem;
                color:rgb(148, 148, 148);
            }

            #passwordError{
                font-size: 0.7rem;
                color:rgb(182, 0, 0);
                margin-right: 0.7rem;
                padding-top:0rem;
                margin-bottom: -1rem;
                display:block;
            }

            #registerUser{
                display:flex;
                justify-content:center;
                align-items:center;
                margin-top:2rem;
                font-size:0.7rem;
                color:black;
                cursor:pointer;
            }

            #loginValidateSubmit{
                display:flex;
                flex-direction:column;
                align-items:center;

                #loginBtn{
                    margin-top:0.3rem;
                    width: 16rem;
                    height: 2rem;
                    border:none;
                    background-color: rgb(196, 96, 112);
                    color:white;
                    font-weight: bold;
                    border-radius: 0.1rem;
                    cursor:pointer;
                }
    
                #invalidFormMessage{
                    font-size: 0.7rem;
                    color:rgb(182, 0, 0);
                    padding-top:0rem;
                    margin-bottom: -1rem;
                }

                #wrongErrorMsg{
                    font-size: 0.7rem;
                    color:rgb(182, 0, 0);
                    padding-top:0rem;
                    margin-bottom: -1rem;
                }
            }

        }
    }
