section{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 100vh;

    .playlist-list-container{
        width: 50%;
        padding-bottom:2rem;

        #playlistList{
            display:flex;
            justify-content:center;
            padding-top: 2rem;
            padding-bottom: 2rem;
            width: 100%;
            font-size:1.5rem;
            border-bottom: 1px solid rgb(179, 179, 179);
        }

        ul{
            li{
                display:flex;
                flex-direction:row;
                justify-content: space-between;
                border-bottom: 1px solid rgb(179, 179, 179);
                padding:1rem;

                #play{
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    padding:1rem;
                    background-color: rgb(99, 153, 99);
                    border:none;
                    border-radius: 3%;
                    color:white;
                    width: 5rem;
                    height:2rem;
                }

                .fa-trash:before {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    color: rgb(47, 47, 92);
                    font-size:1.2rem;
                    padding-right: 2rem;
                    cursor:pointer;
                }
            }
        }
    }

    .playlist-content-container{
        display:flex;
        flex-direction:row;
        width: 50%;
        border-left: 1px solid rgb(179, 179, 179);

        .playlist-edit-panel{
            width: 100%;
            padding: 1rem;
            height: 5.55rem;
            border-bottom: 1px solid rgb(179, 179, 179);

            .fa-edit:before{
                padding:1rem;
                color: rgb(99, 153, 99);
                font-size: 1.2rem;
                cursor:pointer;
            }

            .fa-calendar-alt:before{
                padding:1rem;
                color: rgb(99, 153, 99);
                font-size: 1.2rem;
                cursor:pointer;
            }

            .fa-download:before {
                padding:1rem;
                color: rgb(99, 153, 99);
                font-size: 1.2rem;
                cursor:pointer;
            }

            #deletePanel{
                margin: 1rem;
                padding:0.3rem;
                width: 5rem;
                border:none;
                background-color: rgb(65, 131, 65);
                border-radius: 3%;
                color: white;
                cursor:pointer;
                font-size:1rem;
            }
        }
    }
}
