<section>
    <div class="playlist-list-container">
        <p id="playlistList">Playlist</p>
        <ul id="contentListUL">
            <li id="contentListLI" *ngFor="let content of contents">
                <div class="list-image-name">
                    <div>
                        <img *ngIf="content.type === 'image'"
                        [src]="content.fileurl"
                        alt="{{content.filename}}"
                        (click)="showContentById(content._id)"
                        id="urlImg"
                        />
                    </div>
                    <div>
                        <video 
                        *ngIf="content.type === 'video'"
                        [src]="content.fileurl"
                        title="{{content.filename}}"
                        (click)="showContentById(content._id)"
                        id="urlvideo"
                        autoplay 
                        muted
                        >
                        </video>
                    </div>
                </div>
                <span id="nameContent" title="{{content.filename}}"> {{ 'Name: ' + content.filename}} </span>
            </li>
        </ul>
    </div>
    <div class="playlist-content-container">
        <div class="playlist-edit-panel" *ngIf="content">

            <a title="Edit content" id=" editIcon" (click)="editContentFromList(content)" ><i class="fas fa-edit"></i></a>
            <i title="Schedule" class="far fa-calendar-alt"></i>
            <!-- <i title="Download" class="fas fa-download"></i> -->
            <button title="Continue" id="deletePanel">Continue</button>

            <div class="input-validator" *ngIf="showListContentName">
                <input id="nameContentInput" type="text" [formControl]="listContentName" placeHolder="Name your content" required valid/>
                <em id="errorMessage" *ngIf="listContentName.invalid && (listContentName.touched || saveAttempt)">Name on your content is required</em>
              </div>
        </div>
    </div>
</section>
