section{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 100vh;

    .playlists-left-container{
        display:flex;
        flex-direction:column;
        width:30%;
        border-right: 1px solid grey;

        form{
            display:flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 3rem;
            height: 20rem;
            border-bottom: 1px solid grey;

            .input-btn{
                display:flex;
                flex-direction: row;
                align-items:center;

                #createPlaylistInput{
                    width: 17rem;
                    height: 1.8rem;
                    border:none;
    
                    &::placeholder{
                        padding-left: 0.3rem;
                    }
                }
    
                #addPlaylistBtn {
                    margin-left: 2rem;
                    border:none;
                    color: rgb(99, 153, 99);
                    background-color: rgb(243, 243, 243);
                    
                    #iconAddBtn{
                        font-size: 2rem;
                    }
                }
            }
            
            #playlistCreatedSuccessfully{
                font-size: 0.8rem;
                font-weight: bold;
                color:rgb(99, 153, 99);
            }
        }

        .playlists-list-container{

            #playlistsText{
                text-align:center;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-size: 1rem;
                color: rgb(214, 214, 203);
                background-color: rgb(139, 137, 132);
            }

        }

    }
}
