<section>
    <div class="playlist-list-container">
        <p id="playlistList">Playlist</p>
        <ul>
            <li> 
                <button title="Overview" id="play">Overwiew</button> 
                <p >"content"</p> 
                <i title="Delete" id="trash" class="fa fa-trash"></i>
            </li>
            <li> 
                <button title="Overview" id="play">Overwiew</button> 
                <p >"content"</p> 
                <i title="Delete" id="trash" class="fa fa-trash"></i>
            </li>
            <li> 
                <button title="Overview" id="play">Overwiew</button> 
                <p >"content"</p> 
                <i title="Delete" id="trash" class="fa fa-trash"></i>
            </li>
            <li> 
                <button title="Overview" id="play">Overwiew</button> 
                <p >"content"</p> 
                <i title="Delete" id="trash" class="fa fa-trash"></i>
            </li>

        </ul>
    </div>
    <div class="playlist-content-container">
        <div class="playlist-edit-panel">
            <i title="Edit" class="far fa-edit"></i>
            <i title="Schedule" class="far fa-calendar-alt"></i>
            <!-- <i title="Download" class="fas fa-download"></i> -->
            <button title="Continue" id="deletePanel">Continue</button>
        </div>
    </div>
</section>
