section{
    display:flex;
    flex-direction:row;
    width:100%;
    height: 100vh;

    .playlists-left-container{
        display:flex;
        flex-direction:column;
        width:30%;
        border-right: 1px solid grey;

        form{
            display:flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 3rem;
            height: 20rem;
            border-bottom: 1px solid grey;

            .input-btn{
                display:flex;
                flex-direction: row;
                align-items:center;

                #createPlaylistInput{
                    width: 17rem;
                    height: 1.8rem;
                    border:none;
    
                    &::placeholder{
                        padding-left: 0.3rem;
                    }
                }
    
                #addPlaylistBtn {
                    margin-left: 2rem;
                    border:none;
                    color: rgb(99, 153, 99);
                    background-color: rgb(243, 243, 243);
                    cursor:pointer;
                    
                    #iconAddBtn{
                        font-size: 2rem;
                    }
                }

                #addPlaylistBtn[disabled]{
                    color: rgb(182, 174, 174);
                }
            }
            
            #playlistCreatedSuccessfully{
                font-size: 0.8rem;
                font-weight: bold;
                color:rgb(99, 153, 99);
            }

            #showErrorMsg{
                font-size: 0.7rem;
                color:rgb(182, 0, 0);
                margin-right: 9.8rem;
                padding-top:0rem;
                margin-bottom: -1rem;
                display:block;
            }
        }

        .playlists-list-container{

            #playlistsText{
                text-align:center;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-size: 1rem;
                color: rgb(214, 214, 203);
                background-color: rgb(139, 137, 132);
            }

            #playlistListUL{
                display:flex;
                flex-direction: column;
                #playlistListLI {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 1rem;
                    border-bottom: 0.5px solid rgb(165, 165, 165);
    
                    #iconFolderBtn{
                        border:none;
                        font-size: 1.5rem;
                        color: rgb(99, 153, 99);
                        background-color: rgb(243, 243, 243);
                        cursor: pointer;
                    }

                    #iconEditBtn{
                        background-color:  rgb(247, 247, 247);
                        font-size: 1.5rem;
                        color: rgb(99, 153, 99);
                        border:none;
                        cursor: pointer;
                    }

                    #iconDeleteBtn{
                        color: rgb(47, 47, 92);
                        font-size:1.5rem;
                        cursor: pointer;
                        border: none;
                        background-color: rgb(243, 243, 243);
                    }
                }
            } 
        }

        #createPlaylistMsg{
            padding: 0.5rem;
            font-size: 1rem;
        }
    }

    .playlist-right-container{
        width: 100%;

        .playlist-edit-panel{
            background-color: #e2e2e2;
            margin: 3rem;
            // height: 80vh;

            .btns-handle-edit{
                display:flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                height: 4rem;
                padding-top: 4rem;
    
                #changeNamePlaylistInput{
                    height: 2rem;
                    width: 16rem;
                    border-radius: 0.1rem;
                    border: none;
                    background-color:rgb(255, 255, 255);
                }
    
                #changeNamePlaylistInput::placeholder{
                    padding-left: 0.2rem;
                    color:rgb(148, 148, 148);
                }
    
                #saveBtn{
                    width: 5rem;
                    height:2.5rem;
                    border:none;
                    background-color: rgb(99, 153, 99);
                    align-items: center;
                    border-radius: 3%;
                    color: rgb(247, 247, 247);
                    cursor:pointer;
                    font-size:1.05rem;
                }
    
                #deleteBtn{
                    width: 5rem;
                    height:2.5rem;
                    border:none;
                    background-color: rgb(47, 47, 92);
                    align-items: center;
                    border-radius: 3%;
                    color: white;
                    cursor:pointer;
                    font-size:1.05rem;
                }
            }
        }

        .playlist-info-container{
            display:flex;
            flex-direction: row;

            .info-container{
                display:flex;
                flex-direction: column;
                margin-top: 10rem;
                margin-left: 5rem;
                margin-bottom: 4rem;
                background-color: white;
                width: 20rem;
                height: 20rem;
                padding: 2rem;
    
                #playlist-name{
                    font-size:1rem;
                }
            }

            .playlist-content-list{
                margin-top: 10rem;
                margin-left: 10rem;

                #playlistContentText{
                    padding-bottom: 1rem;
                    border-bottom: 1px solid grey;
                }

                #content-in-playlist{
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    border-bottom: 1px solid grey;
                    padding:1rem;

                    #contentImg{
                        object-fit:cover;
                        width: 4rem;
                        height: 4rem;

                    }

                    #contentFilename{
                        padding-left: 0.5rem;
                        padding-right: 0.5rem;

                    }

                    #listDeleteContent{
                        color: rgb(47, 47, 92);
                        font-size:1rem;
                        border:none;
                        cursor: pointer;
                        padding-bottom: 0.5rem;
                        background-color: #e2e2e2;
                    }
                }
            }
        }
    }
}


