<section class="player-device-page">
    <section class="list-side">
        <h3  id="playlistText">Playlist</h3>
        <div>
            <ul>
                <li *ngFor="let playlist of playlists" id="playlistLI">
                    <button id="iconArrowBtn">
                        <i class='fas fa-arrow-right'></i>
                    </button>
                    <span id="namePlaylist" title="{{playlist.name}}"> {{ 'Name: ' + playlist.name}} </span>
                    <button id="iconPlayBtn" (click)="playPlaylist(playlist._id)">
                        <i class='fas fa-play'></i>
                    </button>
                </li>
            </ul>
        </div>  
    </section>

    <section class="play-content-side" *ngIf="showContentFromPlaylist">
        <div *ngIf="selectedPlaylist">
            <p id="listNameText"> {{selectedPlaylist.name}} </p>
            <div id="content" [innerHTML]="pageContent"></div>
        </div>
    </section>
</section>
