.player-device-page{
    display:flex;
    flex-direction:row;
    width: 100%;

    .list-side{
        width: 20%;
        height: 100vh;
        border-right: 1px solid rgb(189, 189, 189);

        #playlistText{
            text-align:center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 1rem;
            color: rgb(214, 214, 203);
            background-color: rgb(139, 137, 132);
        }

        #playlistLI{
            display:flex;
            flex-direction: row;
            position:relative;
            padding-left: 0.5rem;
            padding-top:1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid grey;

            #iconArrowBtn{
                border:none;
                margin-right: 2.5rem;
                transition: transform 0.3s ease-in-out;
            }

            #namePlaylist{
                font-size: 0.9rem;
            }

            #iconPlayBtn{
                position:absolute;
                right: 0.8rem;
                border:none;
                color:rgb(99, 153, 99);
            }
        }
    }

    .play-content-side{
        display:flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        height: 100vh;

        #listNameText{
            margin: auto;
            font-size: 1.2rem;
            text-align: center;
            margin-top: 2rem;
        }

        .player-container{
            display:flex;
            flex-direction: column;
            align-items: center;
            margin:auto;
            margin-top: 15rem;
            width: 10rem;
            height: 10rem;
            padding: 1rem;
            background-color: grey;
            object-fit: contain;
        }
    }
}