<section class="player-device-page">
    <section class="list-side">
        <h3  id="playlistText">Playlists</h3>
        <div>
            <ul>
                <li *ngFor="let playlist of playlists; trackBy: trackByPlaylistId" id="playlistLI">
                    <button id="iconArrowBtn">
                        <i class='fas fa-arrow-right'></i>
                    </button>
                    <span id="namePlaylist" title="{{playlist.name}}">Name: {{playlist.name}} </span>
                    <button id="iconPlayBtn" (click)="selectPlaylist(playlist._id)">
                        <i class='fas fa-play'></i>
                    </button>
                </li>
            </ul>
        </div>  
    </section>
    
    <div>
        <h3 id="listNameText"> {{selectedPlaylist?.name}} </h3>
    </div>
    <section class="play-content-side" *ngIf="showContentFromPlaylist">
        <app-player ></app-player> 
    </section>
</section>