section{
    #userName {
        padding: 1rem;
        font-size: 1.6rem;
        
    }

    .home-btn-image{
        display:flex;
        flex-direction:row;
        justify-content: center;
        width: 100%;

        #homeBtn{
            margin:auto;
            width: 50%;
            height: 100%;
            align-items: center;
            text-align: center;

            #showContentBtn{
                margin-top:0.3rem;
                    width: 13rem;
                    height: 2rem;
                    border:none;
                    background-color: rgb(196, 96, 112);
                    color:white;
                    font-weight: bold;
                    border-radius: 0.1rem;
                    cursor:pointer;
            }
        }
        #homeImg{
            display:flex;
            justify-content:center;
            margin:auto;
            width: 70%;
            height: auto;
            

            #doSomethingImg{
                width: 70%;
                height: 40rem;
            }
        }
    }
}