section {
    .modal-register {
        margin:auto;
        margin-top: 10rem;
        display:flex;
        flex-direction: column;
        text-align:center;
        align-items:center;
        width: 25rem;
        height: 30rem;
        background-color:white;
        border-radius: 0.5rem;

        .register-top-section{
            display:flex;
            justify-content:space-between;
            flex-direction: row;
            align-items:center;
            color: black;
            width:100%;
            padding-top: 1.5rem;
            padding-bottom: 0.5rem;
            padding-left: 2rem;
            padding-right: 10rem;
            background-color: rgb(87, 79, 79);
            border-top-left-radius: 0.4rem;
            border-top-right-radius: 0.4rem;

            #arrowToLogin{
                color: rgb(214, 214, 203);
                padding-bottom: 0.4rem;
                cursor:pointer;
            }

            #registerText{
                font-size: 1.3rem;
                color: rgb(214, 214, 203);
            }
        }

        #firstnameRegister{
            height: 2rem;
            width: 16rem;
            padding-left: 0.5rem;
            border-radius: 0.1rem;
            border: none;
            margin-top: 3rem;
            background-color:rgb(226, 226, 226);
        }

        #firstnameRegister::placeholder{
            padding-left: 0.2rem;
            color:rgb(148, 148, 148);
        }

        #firstnameError{
            font-size: 0.7rem;
            color:rgb(182, 0, 0);
            margin-right: 8.2rem;
            padding-top:0rem;
            margin-bottom: -1rem;
            display:block;
        }

        #lastnameRegister{
            height: 2rem;
            width: 16rem;
            padding-left: 0.5rem;
            border-radius: 0.1rem;
            border: none;
            margin-top: 1rem;
            background-color:rgb(226, 226, 226);
        }

        #lastnameRegister::placeholder{
            padding-left: 0.2rem;
            color:rgb(148, 148, 148);
        }

        #lastnameError{
            font-size: 0.7rem;
            color:rgb(182, 0, 0);
            margin-right: 8.2rem;
            padding-top:0rem;
            margin-bottom: -1rem;
            display:block;
        }

        #emailRegister{
            height: 2rem;
            width: 16rem;
            padding-left: 0.5rem;
            border-radius: 0.1rem;
            border: none;
            margin-top: 1rem;
            background-color:rgb(226, 226, 226);
        }

        #emailRegister::placeholder{
            padding-left: 0.2rem;
            color:rgb(148, 148, 148);
        }

        #emailError{
            font-size: 0.7rem;
            color:rgb(182, 0, 0);
            margin-right: 10rem;
            padding-top:0rem;
            margin-bottom: -1rem;
            display:block;
        }

        #passwordRegister{
            height: 2rem;
            width: 16rem;
            padding-left: 0.5rem;
            border-radius: 0.1rem;
            border: none;
            margin-top: 1rem;
            background-color:rgb(226, 226, 226);
        }

        #passwordRegister::placeholder{
            padding-left: 0.2rem;
            color:rgb(148, 148, 148);
        }

        #passwordError{
            font-size: 0.7rem;
            color:rgb(182, 0, 0);
            margin-right: 0.6rem;
            padding-top:0rem;
            margin-bottom: -1rem;
            display:block;
        }

        #confirmPasswordRegister{
            height: 2rem;
            width: 16rem;
            padding-left: 0.5rem;
            border-radius: 0.1rem;
            border: none;
            margin-top: 1rem;
            background-color:rgb(226, 226, 226);
        }

        #confirmPasswordRegister::placeholder{
            padding-left: 0.2rem;
            color:rgb(148, 148, 148);
        }

        #confirmPasswordError{
            font-size: 0.7rem;
            color:rgb(182, 0, 0);
            margin-right: 5.2rem;
            padding-top:0rem;
            margin-bottom: -1rem;
            display:block;
        }

        #registerCompleteMessage{
            display: flex;
            justify-content: center;
            font-size: 0.8rem;
            color: rgb(7, 105, 7);
            font-weight: bold;
        }

        .submit-button-and-message{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;

            #registerBtn{
                margin-top:2rem;
                width: 16rem;
                height: 2rem;
                border:none;
                background-color: rgb(196, 96, 112);
                color:white;
                font-weight: bold;
                border-radius: 0.1rem;
                cursor:pointer;
            }
    
            #invalidFormMessage{
                font-size: 0.7rem;
                color:rgb(182, 0, 0);
                padding-top:0rem;
                margin-bottom: -1rem;
            }

        }
    }
}