<section>
        <div class="modal-register" (click)="$event.stopPropagation()">
            <div class="register-top-section">
                <a id="arrowToLogin" routerLink="/login"><i class='fas fa-arrow-left'></i></a>
                <h4 id="registerText">Register</h4>
            </div>
            

            <form (ngSubmit)="createUserSubmit()" [formGroup]="registerForm">
                <input 
                formControlName="firstname" 
                id="firstnameRegister" 
                placeholder="Firstname" 
                type="text"
                />
                <em *ngIf="registerForm.get('firstname')!.invalid && (registerForm.get('firstname')!.touched )"id="firstnameError">
                    *Firstname is required
                </em>
    
                <input 
                formControlName="lastname" 
                id="lastnameRegister" 
                type="text" 
                placeholder="Lastname"
                />
                <em *ngIf="registerForm.get('lastname')!.invalid && (registerForm.get('lastname')!.touched )" id="lastnameError">
                    *Lastname is required
                </em>

                <input 
                formControlName="email" 
                id="emailRegister" 
                type="text" 
                placeholder="Emailaddress"
                />
                <em *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.touched )" id="emailError">
                    *Email is required
                </em>

                <input 
                formControlName="password" 
                id="passwordRegister" 
                type="password" 
                placeholder="Password"
                />
                <em *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.touched)" id="passwordError">
                    *Password is required, at least 10 characters 
                </em>

                <input 
                formControlName="confirmPassword" 
                id="confirmPasswordRegister" 
                type="password" 
                placeholder="Confirm Password"
                />
                <em *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.touched )" id="confirmPasswordError">
                    *Confirm Password is required
                </em>
                <p id="registerCompleteMessage" *ngIf="registerComplete">You have been sucessfully registered!</p>
                <div class="submit-button-and-message">
                    <button id="registerBtn" type="submit">Register</button>
                    <em *ngIf="submitted && !registerForm.valid" id="invalidFormMessage"> Please fill out all required fields. </em>
                </div>
            </form>
        </div>
</section>